In [6]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns

# <p style="text-align: center;">Combining available data</p>

In [7]:
umweltAtlas = pd.read_csv('data/umweltatlas.csv') 
umweltAtlas

,usage,usage_plain,lng,lat
0,10,Housing area,13.330920,52.519674
1,10,Housing area,13.331459,52.520574
2,10,Housing area,13.332122,52.519135
3,140,City square / promenade,13.332784,52.518853
4,10,Housing area,13.333391,52.519737
...,...,...,...,...
26373,173,"Fallow area, mixed vegetation - meadows, trees...",13.629301,52.538468
26374,80,Traffic area (without roads),13.625332,52.539217
26375,80,Traffic area (without roads),13.633221,52.538373
26376,173,"Fallow area, mixed vegetation - meadows, trees...",13.613191,52.538083
26377,80,Traffic area (without roads),13.618355,52.538919

In [8]:
chargerInfo = pd.read_csv('data/chargerinfo.csv') 
chargerInfo

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,ladeleistung_4,anzahl_ladepunkte,lng,lat
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.333140,52.490042
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.331163,52.514369
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.331100,52.494750
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.330154,52.493241
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.329894,52.510247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.575379,52.546067
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038

In [9]:
adoptionRate = pd.read_csv('data/adoption.csv')
adoptionRate

       plz  adoption
0    10115      8.51
1    10117     12.44
2    10119     23.59
3    10178     11.42
4    10179      9.20
..     ...       ...
185  14169      3.62
186  14193      5.29
187  14195      6.38
188  14197      2.91
189  14199      5.16

[190 rows x 2 columns]

In [10]:
bez_consumption = pd.read_csv('data/chargercons.csv')
bez_consumption

    bez_id                      bezirk  aktuellstes_jahr
0        1                       Mitte          640.6900
1        2    Friedrichshain-Kreuzberg          264.4560
2        3                      Pankow          490.6880
3        4  Charlottenburg-Wilmersdorf          696.2600
4        5                     Spandau          211.9310
5        7        Tempelhof-SchÃ¶neberg          566.9520
6        8                    NeukÃ¶lln          238.2600
7        6         Steglitz-Zehlendorf          249.1970
8        9            Treptow-KÃ¶penick           93.2000
9       11                 Lichtenberg          651.9897
10      12               Reinickendorf           63.6340
11      10         Marzahn-Hellersdorf          140.8080

In [11]:
bez_pop = pd.read_csv('data/bez_pop.csv')
display(bez_pop)

population = pd.read_csv('data/population.csv')
population

                        bezirk     pop
0                        Mitte  395656
1     Friedrichshain-Kreuzberg  292866
2                       Pankow  425840
3   Charlottenburg-Wilmersdorf  343136
4                      Spandau  257491
5         Tempelhof-SchÃ¶neberg  355948
6                     NeukÃ¶lln  329319
7          Steglitz-Zehlendorf  310127
8             Treptow-KÃ¶penick  295435
9                  Lichtenberg  313131
10               Reinickendorf  274196
11         Marzahn-Hellersdorf  292901

       pop        lng        lat
0        3  13.369212  52.534368
1        0  13.368510  52.535175
2       21  13.367485  52.536037
3      808  13.372863  52.536720
4        0  13.371390  52.535666
...    ...        ...        ...
25347    0  13.625743  52.539226
25348    0  13.633221  52.538373
25349    0  13.626623  52.538091
25350    0  13.613191  52.538083
25351    0  13.618355  52.538919

[25352 rows x 3 columns]

In [12]:
traffic = pd.read_csv('data/traffic.csv')
traffic

      traffic        lng        lat
0       45700  13.197097  52.512999
1       44100  13.189597  52.514518
2        9200  13.197136  52.514813
3        9200  13.197400  52.516035
4       42800  13.193959  52.513640
...       ...        ...        ...
9917    35800  13.343110  52.471222
9918    39200  13.521505  52.423745
9919    41800  13.519345  52.427030
9920    70600  13.344718  52.478101
9921    77400  13.342962  52.478639

[9922 rows x 3 columns]

In [13]:
parking = pd.read_json('data/parkplatz-transform.json')
parking = pd.json_normalize(parking['features'])
parking['lat'] = parking['bbox'].apply(lambda x: (x[2]+x[3])/2)
parking['lng'] = parking['bbox'].apply(lambda x: (x[0]+x[1])/2)
parking = parking[['lat', 'lng']]

parking

            lat        lng
0     52.490059  13.403025
1     52.489643  13.402838
2     52.491841  13.391873
3     52.497126  13.438432
4     52.492188  13.392012
...         ...        ...
8381  52.505212  13.469038
8382  52.506162  13.467633
8383  52.505088  13.466127
8384  52.481031  13.452113
8385  52.481105  13.451990

[8386 rows x 2 columns]

In [14]:
allData = pd.merge(chargerInfo, adoptionRate, 'left')

allData

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,ladeleistung_4,anzahl_ladepunkte,lng,lat,adoption
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.333140,52.490042,4.07
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.331163,52.514369,14.41
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.331100,52.494750,4.07
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.330154,52.493241,4.07
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.329894,52.510247,10.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.575379,52.546067,2.48
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,3.18
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,NaN

#### <p style="text-align: center;"> Function to get vector data </p>

In [15]:
def dist(x1, y1, x2, y2):
    return np.sqrt((x1-x2)**2 + (y1-y2)**2)

def get_attr_area(table, attr, lat, lng, distance=0.5, first=False):
    new_lat  = [lat  - (distance / 6378.137) * (180 / math.pi), lat  + (distance / 6378.137) * (180 / math.pi)];
    new_lng = [lng - (distance / 6378.137) * (180 / math.pi) / math.cos(lng * math.pi/180), lng + (distance / 6378.137) * (180 / math.pi) / math.cos(lng * math.pi/180)]
    result = table.query(f'{new_lat[0]} <= lat <= {new_lat[1]} & {new_lng[0]} <= lng <= {new_lng[1]} ').copy()
    if first:
        result['dist'] = result.apply(lambda x: dist(x.lng, x.lat, lng, lat), axis=1)
        result.sort_values('dist', inplace=True)
        return result.iloc[0][attr]
    return result[attr]

# add nearby population count for each charger
allData['pop_near'] = allData.apply(lambda x: get_attr_area(population, 'pop', x.lat, x.lng, 0.5).sum(), axis=1)
allData

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,ladeleistung_4,anzahl_ladepunkte,lng,lat,adoption,pop_near
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.333140,52.490042,4.07,12322
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.331163,52.514369,14.41,1046
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.331100,52.494750,4.07,9474
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.330154,52.493241,4.07,12597
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.329894,52.510247,10.81,897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.575379,52.546067,2.48,4341
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,3.18,14138
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,NaN,14138

In [16]:
# add nearby parking space count
allData['park_near'] = allData.apply(lambda x: get_attr_area(parking, 'lat', x.lat, x.lng, 0.5).size, axis=1)
allData

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,ladeleistung_4,anzahl_ladepunkte,lng,lat,adoption,pop_near,park_near
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.333140,52.490042,4.07,12322,7
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.331163,52.514369,14.41,1046,4
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.331100,52.494750,4.07,9474,0
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.330154,52.493241,4.07,12597,0
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.329894,52.510247,10.81,897,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.575379,52.546067,2.48,4341,0
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767,0
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767,0
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,3.18,14138,69
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,NaN,14138,69

In [17]:
# add land-use classification
allData['class'] = allData.apply(lambda x: get_attr_area(umweltAtlas, 'usage', x.lat, x.lng, 0.5, first=True), axis=1)
allData['class_desc'] = allData.apply(lambda x: get_attr_area(umweltAtlas, 'usage_plain', x.lat, x.lng, 0.5, first=True), axis=1)
allData

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,ladeleistung_4,anzahl_ladepunkte,lng,lat,adoption,pop_near,park_near,class,class_desc
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.333140,52.490042,4.07,12322,7,10,Housing area
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.331163,52.514369,14.41,1046,4,40,Commercial and industrial area
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.331100,52.494750,4.07,9474,0,140,City square / promenade
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.330154,52.493241,4.07,12597,0,130,Park / green space
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.329894,52.510247,10.81,897,0,30,Core area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.575379,52.546067,2.48,4341,0,40,Commercial and industrial area
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767,0,21,Mixed area
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767,0,21,Mixed area
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,3.18,14138,69,80,Traffic area (without roads)
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,NaN,14138,69,80,Traffic area (without roads)

In [18]:
# add traffic
allData['traffic_near'] = allData.apply(lambda x: get_attr_area(traffic, 'traffic', x.lat, x.lng, 0.5).sum(), axis=1)
allData

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,ladeleistung_4,anzahl_ladepunkte,lng,lat,adoption,pop_near,park_near,class,class_desc,traffic_near
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.333140,52.490042,4.07,12322,7,10,Housing area,454500
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.331163,52.514369,14.41,1046,4,40,Commercial and industrial area,145300
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.331100,52.494750,4.07,9474,0,140,City square / promenade,438700
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.330154,52.493241,4.07,12597,0,130,Park / green space,363100
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,11,11.0,NaN,NaN,2,13.329894,52.510247,10.81,897,0,30,Core area,308900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.575379,52.546067,2.48,4341,0,40,Commercial and industrial area,213900
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767,0,21,Mixed area,62700
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",NaN,50,50.0,44.0,NaN,3,13.569398,52.569760,1.34,7767,0,21,Mixed area,62700
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,3.18,14138,69,80,Traffic area (without roads),397700
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,NaN,NaN,22,22.0,NaN,NaN,2,13.448083,52.525038,NaN,14138,69,80,Traffic area (without roads),397700

In [19]:
# Unused in the final assignment
num_charger_bez = allData[allData.plz != 0].groupby('bezirk')['adresse'].count()
bez_consumption['aktuellstes_jahr'] = 1000*(bez_consumption['aktuellstes_jahr']/bez_pop['pop'])
bez_consumption = bez_consumption.rename(columns= {'aktuellstes_jahr' : 'avg_consumption'})
display(bez_consumption)
allData = allData.merge(bez_consumption[['bezirk', 'avg_consumption']], how='left').fillna(0)
display(allData)

    bez_id                      bezirk  avg_consumption
0        1                       Mitte         1.619311
1        2    Friedrichshain-Kreuzberg         0.902993
2        3                      Pankow         1.152283
3        4  Charlottenburg-Wilmersdorf         2.029108
4        5                     Spandau         0.823062
5        7        Tempelhof-SchÃ¶neberg         1.592794
6        8                    NeukÃ¶lln         0.723493
7        6         Steglitz-Zehlendorf         0.803532
8        9            Treptow-KÃ¶penick         0.315467
9       11                 Lichtenberg         2.082163
10      12               Reinickendorf         0.232075
11      10         Marzahn-Hellersdorf         0.480736

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,...,anzahl_ladepunkte,lng,lat,adoption,pop_near,park_near,class,class_desc,traffic_near,avg_consumption
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,2,13.333140,52.490042,4.07,12322,7,10,Housing area,454500,2.029108
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,2,13.331163,52.514369,14.41,1046,4,40,Commercial and industrial area,145300,2.029108
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,22,22.0,0.0,...,2,13.331100,52.494750,4.07,9474,0,140,City square / promenade,438700,2.029108
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,2,13.330154,52.493241,4.07,12597,0,130,Park / green space,363100,2.029108
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,2,13.329894,52.510247,10.81,897,0,30,Core area,308900,2.029108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",0,50,50.0,44.0,...,3,13.575379,52.546067,2.48,4341,0,40,Commercial and industrial area,213900,0.480736
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",0,50,50.0,44.0,...,3,13.569398,52.569760,1.34,7767,0,21,Mixed area,62700,0.480736
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",0,50,50.0,44.0,...,3,13.569398,52.569760,1.34,7767,0,21,Mixed area,62700,0.480736
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,22,22.0,0.0,...,2,13.448083,52.525038,3.18,14138,69,80,Traffic area (without roads),397700,0.902993
2716,20359,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,22,22.0,0.0,...,2,13.448083,52.525038,0.00,14138,69,80,Traffic area (without roads),397700,0.902993

In [20]:
allData['charger_near'] = allData.apply(lambda x: get_attr_area(allData, 'lat', x.lat, x.lng, 0.5).size, axis=1)
allData = allData[allData['plz'] < 19999]
allData = allData[allData['adoption'] >= 0.01]
allData = allData[allData['traffic_near'] > 0]
allData

,plz,adresse,bezirk,anschluss_1,anschluss_2,anschluss_3,anschluss_4,ladeleistung_1,ladeleistung_2,ladeleistung_3,...,lng,lat,adoption,pop_near,park_near,class,class_desc,traffic_near,avg_consumption,charger_near
0,10717,Prinzregentenstr. 89,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,13.333140,52.490042,4.07,12322,7,10,Housing area,454500,2.029108,5
1,10587,Englische Str. 1,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,13.331163,52.514369,14.41,1046,4,40,Commercial and industrial area,145300,2.029108,12
2,10717,Bundesallee 204-206,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,22,22.0,0.0,...,13.331100,52.494750,4.07,9474,0,140,City square / promenade,438700,2.029108,6
3,10717,Bundesallee 22,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,13.330154,52.493241,4.07,12597,0,130,Park / green space,363100,2.029108,8
4,10623,Fasanenstr. 88,Charlottenburg-Wilmersdorf,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,11,11.0,0.0,...,13.329894,52.510247,10.81,897,0,30,Core area,308900,2.029108,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,12679,MÃ¤rkische Allee 276,Marzahn-Hellersdorf,"AC Kupplung Typ 2, AC Schuko",AC Kupplung Typ 2,"AC Steckdose Typ 2, AC Kupplung Typ 2",0,50,50.0,22.0,...,13.554170,52.556560,1.21,4087,0,30,Core area,250800,0.480736,8
2712,12685,PrÃ¶tzeler Ring 8,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",0,50,50.0,44.0,...,13.575379,52.546067,2.48,4341,0,40,Commercial and industrial area,213900,0.480736,3
2713,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",0,50,50.0,44.0,...,13.569398,52.569760,1.34,7767,0,21,Mixed area,62700,0.480736,3
2714,12689,Havemannstr. 1,Marzahn-Hellersdorf,"AC Steckdose Typ 2, AC Kupplung Typ 2","AC Kupplung Typ 2, DC Kupplung Combo","AC Kupplung Typ 2, DC CHAdeMO",0,50,50.0,44.0,...,13.569398,52.569760,1.34,7767,0,21,Mixed area,62700,0.480736,3
2715,10249,Petersburger StraÃŸe 16,Friedrichshain-Kreuzberg,AC Steckdose Typ 2,AC Steckdose Typ 2,0,0,22,22.0,0.0,...,13.448083,52.525038,3.18,14138,69,80,Traffic area (without roads),397700,0.902993,9

###### Since the data is not evenly distributed, there is not a one-size-fits-all search range. This implementation tries again when there are no results with the `first` flag.

In [21]:
def get_attr_area2(table, attr, lat, lng, first=False, distance=0.5):
    new_lat  = [lat  - (distance / 6378.137) * (180 / math.pi), lat  + (distance / 6378.137) * (180 / math.pi)];
    new_lng = [lng - (distance / 6378.137) * (180 / math.pi) / math.cos(lng * math.pi/180), lng + (distance / 6378.137) * (180 / math.pi) / math.cos(lng * math.pi/180)]
    result = table.query(f'{new_lat[0]} <= lat <= {new_lat[1]} & {new_lng[0]} <= lng <= {new_lng[1]} ').copy()
    if first:
        result['dist'] = result.apply(lambda x: dist(x.lng, x.lat, lng, lat), axis=1)
        result.sort_values('dist', inplace=True)
        if len(result)>= 1:
            return result.iloc[0][attr]
        else:
            return get_attr_area2(table, attr, lat, lng, first, distance=50)
    return result[attr]

##### Grid partition and gathering data for the grid cells

In [22]:
lats = pd.DataFrame(np.linspace(52.34222, 52.67472, 250),columns=['lat'])
lngs = pd.DataFrame(np.linspace(13.10023, 13.74734, 250),columns=['lng'])

locs = lats.merge(lngs, how='cross')

#display(locs)

locs['traffic_near'] = locs.apply(lambda x: get_attr_area2(traffic, 'traffic', x.lat, x.lng).sum(), axis=1)

locs['pop_near'] = locs.apply(lambda x: get_attr_area2(population, 'pop', x.lat, x.lng).sum(), axis=1)

locs['charger_near'] = locs.apply(lambda x: get_attr_area2(allData, 'lat', x.lat, x.lng).size, axis=1)

KeyboardInterrupt:

In [ ]:
plt.subplot(2,2,1)
sns.boxplot(y="pop_near",data=locs)
plt.title("pop_near ");

plt.subplot(2,2,3)
sns.boxplot(y="traffic_near",data=locs)
plt.title("traffic_near")

plt.subplot(2,2,4)
sns.boxplot(y="charger_near",data=locs)
plt.title("charger_near")
plt.show()





plt.subplot(2,2,1)
sns.boxplot(y="pop_near",data=locs)
plt.title("pop_near ");

plt.subplot(2,2,3)
sns.boxplot(y="traffic_near",data=locs)
plt.title("traffic_near")

plt.subplot(2,2,4)
sns.boxplot(y="charger_near",data=locs)
plt.title("charger_near")
plt.show()

##### Using Jayanath et al.'s regression model

In [ ]:
locs['util'] = locs.apply(lambda x: 8*x.pop_near + 35*x.traffic_near + -77*x.charger_near, axis=1)

locs['e_score'] = np.cbrt(locs['util'])
plt.hist(locs['e_score'], bins=101)
plt.show()
locs['e_score']=(locs['e_score']-locs['e_score'].min())/(locs['e_score'].max()-locs['e_score'].min())
np.exp(-(2 - 4*(locs['e_score']))**6 )
locs[['lat', 'lng', 'e_score']].to_json('./locs.json', orient='records')

##### Data analysis

In [ ]:
allData_pop_adoption = allData[['pop_near', 'adoption']]
corr = allData_pop_adoption.corr()

plt.scatter(allData_pop_adoption['pop_near'], allData_pop_adoption['adoption'])
plt.xlabel('p_EV')
plt.ylabel('pop_near')

plt.savefig('./scatter.svg', format='svg')
plt.show()

In [ ]:
numcols = allData.select_dtypes('int64', 'float64').drop(['plz', 'ladeleistung_1', 'anzahl_ladepunkte', 'class'], axis=1)

numcols

In [ ]:
def OTH(allData,col_name, low_quantile=0.25,up_quantile=0.75):
    Q1=allData[col_name].quantile(low_quantile)
    Q3=allData[col_name].quantile(up_quantile)
    IQR=Q3-Q1
    low_limit=Q1-1.5*IQR
    up_limit=Q3+1.5*IQR
    print(col_name,low_limit,up_limit)
    return low_limit,up_limit
def replace(dataframe,variables):
    low_limit, up_limit= OTH(dataframe,variables)
    dataframe.loc[(dataframe[variables]<low_limit),variables]=low_limit
    dataframe.loc[(dataframe[variables]>up_limit),variables]=up_limit

In [ ]:
def detection(dataframe,col_name):
    low_limit,up_limit=OTH(dataframe,col_name)
    if dataframe[(dataframe[col_name]>up_limit)| (dataframe[col_name]<low_limit)].any(axis=None):
        return True
    else:
        return False

In [ ]:
for col in numcols.columns:
    print(col,detection(numcols,col))

In [ ]:
plt.subplot(2,2,1)
sns.boxplot(y="pop_near",data=numcols)
plt.title("pop_near ");

plt.subplot(2,2,2)
sns.boxplot(y="park_near",data=numcols)
plt.title("park_near ");

plt.subplot(2,2,3)
sns.boxplot(y="traffic_near",data=numcols)
plt.title("traffic_near")

plt.subplot(2,2,4)
sns.boxplot(y="charger_near",data=numcols)
plt.title("charger_near")

In [ ]:
for col in numcols.columns:
    print(col,replace(allData,col))

In [ ]:
plt.subplot(2,2,1)
sns.boxplot(y="pop_near",data=allData)
plt.title("pop_near ");

plt.subplot(2,2,2)
sns.boxplot(y="park_near",data=allData)
plt.title("park_near ");

plt.subplot(2,2,3)
sns.boxplot(y="traffic_near",data=allData)
plt.title("traffic_near")

plt.subplot(2,2,4)
sns.boxplot(y="charger_near",data=allData)
plt.title("charger_near")

In [ ]:
allData_copy = allData[['adoption', 'pop_near', 'park_near', 'traffic_near', 'charger_near', 'class']].copy()
allData_copy

In [ ]:
allData_copy.isnull().sum()

In [ ]:
allData_copy.isna().sum()

In [ ]:
sns.heatmap(numcols.corr(), annot=True)

In [ ]:
column_list = ['adoption', 'pop_near', 'park_near', 'class', 'traffic_near', 'charger_near', 'e_score']

In [ ]:
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from yellowbrick.cluster import KElbowVisualizer
%matplotlib inline

##### Unsupervised learning

In [ ]:
scaler = MinMaxScaler((0, 1))
scaledData = scaler.fit_transform(allData_copy)

kmeans = KMeans()
elbow = KElbowVisualizer(kmeans, k=(2, 20))
elbow.fit(scaledData)
elbow.show(block=True)

In [ ]:
kmeans = KMeans(n_clusters=7, init='k-means++')
allData_copy['cluster'] = kmeans.fit_predict(scaledData)

In [ ]:
combo_clusters_kmeans = kmeans.labels_
allData_copy.head()

In [ ]:
allData_copy[['adoption','traffic_near','pop_near','charger_near', 'park_near', 'class','cluster']]\
.groupby('cluster')\
.agg({'count','std','max', 'mean','min', 'median'})

In [ ]:
pal = ["#682F2F","#B9C0C9", "#9F8A78","#F3AB60"]
pl = sns.countplot(x=allData_copy["cluster"], palette= pal)
pl.set_title("Distribution Of The Clusters")
plt.savefig('./clusterDistribution.svg', format='svg')
plt.show()

In [ ]:
randomData = pd.DataFrame([[4.07, 12322.0, 7.0, 454500, 5.0, 10]], columns=['adoption', 'traffic_near', 'pop_near', 'charger_near', 'park_near', 'class'])
print(randomData)

In [ ]:
scaler = MinMaxScaler((0, 1))
newData = scaler.fit_transform(randomData)
newData

In [ ]:
cluster = kmeans.predict(newData)
cluster

In [ ]:
lats = pd.DataFrame(np.linspace(52.34222, 52.67472, 250),columns=['lat'])
lngs = pd.DataFrame(np.linspace(13.10023, 13.74734, 250),columns=['lng'])

locs = lats.merge(lngs, how='cross')

#display(locs)

locs['adoption'] = locs.apply(lambda x: get_attr_area2(allData, 'adoption', x.lat, x.lng, first=True, distance=10), axis=1)

locs['traffic_near'] = locs.apply(lambda x: get_attr_area2(traffic, 'traffic', x.lat, x.lng).sum(), axis=1)

locs['pop_near'] = locs.apply(lambda x: get_attr_area2(population, 'pop', x.lat, x.lng).sum(), axis=1)

locs['charger_near'] = locs.apply(lambda x: get_attr_area2(allData, 'lat', x.lat, x.lng).size, axis=1)

locs['park_near'] = locs.apply(lambda x: get_attr_area2(parking, 'lat', x.lat, x.lng).size, axis=1)

locs['class'] = locs.apply(lambda x: get_attr_area2(umweltAtlas, 'usage', x.lat, x.lng, first=True, distance=5), axis=1)


scaler = MinMaxScaler((0, 1))
s_locs_array = scaler.fit_transform(locs[['adoption', 'traffic_near', 'pop_near', 'charger_near', 'park_near', 'class']])
s_locs = pd.DataFrame(s_locs_array, columns=['adoption', 'traffic_near', 'pop_near', 'charger_near', 'park_near', 'class']) 

clusters = kmeans.predict(s_locs)

locs['cluster'] = clusters
locs

In [ ]:
from PIL import Image

In [ ]:
cluster_color = {
    0: (199, 44, 72, 180),
    1: (123, 104, 238, 180),
    2: (49, 145, 119, 180),
    3: (204, 119, 34, 180),
    4: (137, 207, 240, 180),
    5: (152, 119, 123, 180),
    6: (240, 220, 130, 180),
}

In [ ]:
pixels = locs['cluster'].copy(deep=True)
pixels = pixels.apply(lambda x: cluster_color[x])
pixels = pixels.to_numpy()
pixels

In [ ]:
img = Image.new('RGBA', (250, 250))
img.putdata(pixels)
img = img.transpose(Image.FLIP_TOP_BOTTOM)
img.save('./overlay.png')

##### AHP + Unsupervised learning
The eigenvectors were calculated manually

In [ ]:
def calc_score(x):
    score = 0
    weights = [0.3419, 0.2279, 0.1899, -0.0949, 0.0791]
    i = 0
    for col in x:
        if i == 30:
            break
        elif i%6 == 2:
            score += col * weights[i//6]
        i += 1

    return score

In [ ]:
detailedClusters = allData_copy[['adoption','traffic_near','pop_near','charger_near', 'park_near', 'class','cluster']]\
.groupby('cluster')\
.agg({'count','std','max', 'mean','min', 'median'}).copy()

clusters = pd.DataFrame([0, 1, 2, 3, 4, 5, 6], columns=['cluster'])

clusters['score'] = detailedClusters.apply(calc_score, axis=1)
clusters = clusters.sort_values('score')
clusters['score'] = [0.1, 0.15, 0.3, 0.7, 0.3, 0.15, 0.1]
clusters.sort_values('score')

In [ ]:
c_locs = locs[['lat', 'lng', 'cluster']].copy()
c_locs = pd.merge(c_locs, clusters, how='outer', on='cluster')
c_locs = c_locs.drop(columns=['cluster'])
c_locs

In [ ]:
c_locs.to_json('./ulearnlocs.json', orient='records')